*{
  margin: 0;
  padding: 0;
}


body{
    background: linear-gradient(rgb(84, 7, 72), rgb(50, 3, 53));
}


.cabecalho{
    background: linear-gradient(to right, rgb(21, 23, 39), rgb(45, 3 , 82));
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-size: 40px;
}
.cabecalhoListaItem{
   display: inline-flex;
   margin: 10px;
   padding: 10px;
}


.sobreImagem{
width: 30%;
margin: 1px;
padding: 1px;
}

.sobre{
background-image: linear-gradient(#1f023b, #610F53);
color: white;
font-size: 23px;
display: flex;
justify-content: center;
align-items: left;
padding: 100px 100px;
}

.sobreConteudo{
width: 600px;
}

.sobreTitulo{
margin: 10px;
padding: 10px;
}




/*Novo CSS*/
.membroImagem{
width:120px;
}

.membroIcone{
width: 24px;
}

.membroDiv{
text-align: center;
}

.membrosTitulo{
text-align:center;
padding: 50px 0;
}

.membrosTodos{
display: grid;
/*Transforma o display em quadrados*/
grid-template-columns: 10% 20% 20% 20% 20% 10%;
/*Quanto cada coluna ocupa na página, em sequência*/
}

.membroDiv{
text-align:center;
padding-bottom: 30px;
}

.membros{
background: linear-gradient( rgb(84, 7, 71), rgb(50, 3 ,53) );
}